<div id="<%= dom_id opinion %>">
<div class=card>
<div class="card-body">
  <p class="card-title">
    <strong>Title:</strong>
    <%= link_to opinion.title, opinion_path(opinion) %>
  </p>

  <p class="card-text">
    <strong>Body:</strong>
    <%= opinion.body %>
  </p>

  <p class="card-title">
    <strong>User:</strong>
    <%= opinion.user.username%>
  </p>
 
  
  </div>
 </div>
</div>
<% if @opinion.image.attached? %>
  <p>
    <%= image_tag @opinion.image.variant(resize: "500x500")%>
  </p>
  <%end%>



